@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --fonte-grande: 3.2rem;
    --fonte-media: 2.4rem;
    --fonte-pequena: 1.6rem;
    --branco-acinzentado-cor: #F7F7F7;
    --amarelo-alaranjado-cor: #FFB22C;
    --marrom-cor: #854836;
    --preto-cor: #000000;
    --tipografia: "Caveat", cursive;
}


html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

.task-container{
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco-acinzentado-cor);
}

.title-header{
    padding: 0 2rem;
    background-color: var(--marrom-cor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;

}

.title-header > h1{
    font-size: 3.2rem;
    color: var(--branco-acinzentado-cor);
    font-family: var(--tipografia);
    letter-spacing: 0.5rem;
}


.task-header{
    display: flex;
    flex-direction: column; 
    padding: 2.4rem;
    gap: 1.6rem;
    background-color: var(--marrom-cor);
    border-radius: 2rem;
}

.task-header > .task-input{
    width: 96rem;
    height: 3.2rem;
    padding: 0 0.8rem;
    font-size: var(--fonte-media);
    font-family: var(--tipografia);
    color: var(--preto-cor);
    border-radius: 1rem;
    border: 1px solid black;
}

.task-header > .btn-add{
    width: 24rem;
    padding: 0.4rem 0;
    align-self: center;
    font-size: var(--fonte-media);
    font-family: var(--tipografia);
    border-radius: 2rem;
    border: 1px solid black;
}

.task-list{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    padding: 2rem 2rem;
    margin: 0;
    width: calc(96rem + 2.4rem);
    gap: 2.4rem;
    background-color: var(--marrom-cor);
    border-radius: 1rem;
    margin-top: 1.6rem;
}

.task-list > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fonte-grande);
    background-color: var(--branco-acinzentado-cor);
    color: var(--preto-cor);
    padding: 1rem;
    font-family: var(--tipografia);
    border-radius: 1rem;
}

.btn-remover{
    padding: 0.5rem 1rem;
    font-family: var(--tipografia);
    font-size: var(--fonte-media);
    text-align: center;
}







