@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --font-32: 3.2rem;
    --font-24: 2.4rem;
    --font-16: 1.6rem;
    --font-14: 1.4rem;
    --font-12: 1.2rem;
    --font-8: 0.8rem;
    --preto-azulado: #1C232B;
    --verde: #16A34A;
    --vermelho: #DC2626;
    --laranja: #EA580C;
    --branco: #FFFFFF;
    --roxo: #9333EA;
    --preto-forte: rgba(0, 0, 0, 0.75);
    --vermelho-medio: rgba(220, 38, 38, 0.9);
    --vermelho-fraco: rgba(220, 38, 38, 0.60);
    --preto-fraco: rgba(0, 0, 0, 0.375);
    --verde-fraco: rgba(22, 163, 74, 0.5);
    --laranja-fraco: rgba(234, 88, 12, 0.6);
    --vermelho-fraco-2: rgba(220, 38, 38, 0.35);
    --verde-fraco-2: rgba(22, 163, 74, 0.35);
    --laranja-fraco-2: rgba(234, 88, 12, 0.35);
    --tipografia: 'Poppins', sans-serif;
    --space-104: 10.4rem
    --space-40: 4.0rem;
    --space-16: 1.6rem;
    --space-14: 1.4rem;
    --space-8: 0.8rem;
    --drop-shadow-roxo: 0px 4px 4px rgba(138, 56, 245, 0.3);
    --drop-shadow-verde: 0px 4px 4px rgba(22, 163, 74, 0.5);
    --drop-shadow-laranja: 0px 4px 4px rgba(234, 88, 12, 0.6);
    --drop-shadow-vermelho: 0px 4px 4px rgba(220, 38, 38, 0.60);
}

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

body{
    background-color: var(--cor-preto);
}

